$default-font: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

body {
  color: #444;
  font-family: $default-font;
}

.input-mode-container {
  margin: 1em 0;
}

.inputbox {
  display: block;
  font-family: $default-font;
  font-size: 21px;
  height: 400px;
  margin: 0 0 1em 0;
  width: 400px;
}

.percentage-mode-total-time-container {
  display: none;
  margin: 1em 0;
}

.percentage-mode-total-time {
  font-size: 1rem;
  padding: 0.3em;
  width: 50px;
}

.start-time-container,
.finish-time-container {
  display: none;
}

label[for='start-time'],
label[for='finish-time'] {
  display: inline-block;
  width: 100px;
}

.-running {
  color: red;
}

.count-in {
  display: none;
}

.queue {
  margin: 1em 0;
}

.queue-container {
}

.queue-row,
.queue-row-total {
  font-size: 20px;
}

.queue-row-total {
  padding-top: 1em;
}

.queue-row-total {
  .queue-row-activity,
  .queue-row-period {
    font-weight: bold;
  }
}

.queue-row-activity,
.queue-row-period {
  display: inline-block;
}

.queue-row-activity {
  width: 200px;
}

.queue-row-period {
  min-width: 100px;
  text-align: right;
}

.timer-display-container {
  padding: 30px 0;
}

.timer-display {
  display: none;
  font-size: 100px;
  font-weight: bold;
}

.timer-display-separator:after {
  content: ':';
}

.timer-display-activity {
  display: block;
  font-size: 50px;
  font-weight: 400;
  height: 40px;
}

.timer-display-hr {

}

.timer-display-min {

}

.timer-display-sec {

}

.total-preview {
  display: block;
  margin: 0 0 1em 0;
}
